{% extends "base.html" %}
{% load static %}       {# import bootstrap4/bootstrap3 #}
{% load octicons %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% block extrahead %}
  {{ client_form.media }}
  {{ client_profile_form.media }}
{% endblock %}
{% block content %}
<div class="container">
  <div class="container ">
    <h1 class="text-center">SSCS Food Bank Client Registration</h1>
  </div>
 <div id="main_container" class="container" data-controller="new_client">

<a id="search" class="btn btn-lg d-none" href="#" role="button" data-action="click->new_client#toggle_search">
  {% octicon "search" %}
</a>
<!-- Cient Form Start -->
<a id="pencil" class="btn btn-lg float-right d-none" href="#" role="button"
  data-action="click->new_client#toggle_edit">
  {% octicon "pencil" %}
</a>
<div id="form_container" class="container">
  <form autocomplete="off" id="client_form" data-reflex-root="#view_mode, #client_table, #client_buttons" data-controller="new_client" data-reflex-serialize-form="true"
     onkeydown="return event.key != 'Enter';"
    {% if mode == 'edit' %}
    data-action="change->new_client#update"
    {% endif %}
    >
    {% csrf_token %}
    <fieldset id="client_form_fieldset">
      <div class="row " 
          {% if mode == 'search' %}
          data-action="input->new_client#search"
          {% endif %}
          >
          <div id="fn" class="col">
          {% bootstrap_field client_form.first_name %}
          </div>
          <div id="ln" class="col">
         {% bootstrap_field client_form.last_name %}
          </div>
        </div>
        <div class="row" >
          <div class="col-8"
          {% if mode == 'search' %}
          data-action="input->new_client#search"
          {% endif %}
          >
        {% bootstrap_field client_form.nicknames %}
          </div>
          <div class="col"
          {% if mode == 'search' %}
          data-action="change->new_client#search"
          {% endif %}
            >
        {% bootstrap_field client_form.dob %}
          </div>
        </div>
        <!-- Profile fields -->
        <div class="{{ profile_form_classes }}" id="profile" data-controller="new_client" data-reflex-root="#form_container, #view_mode" data-action="change->new_client#update">
        <div class="row">
          <div class="col" >
          {% bootstrap_field client_profile_form.phone_number %}
          </div>
          <div class="col">
          {% bootstrap_field client_profile_form.email %}
          </div>
        </div>
        <div class="row">
          <div class="col" >
          {% bootstrap_field client_profile_form.address %}
          </div>
        </div>
        <div class="row">
          <div class="col" >
          {% bootstrap_field client_profile_form.household_size %}
          </div>
          <div class="col" >
          {% bootstrap_field client_profile_form.pets_cat_count %}
          </div>
          <div class="col" >
          {% bootstrap_field client_profile_form.pets_dog_count %}
          </div>
        </div>
        <div class="row">
          <div class="col" >
          {% bootstrap_field client_profile_form.dietary_considerations %}
          </div>
        </div>
        <div class="row">
          <div class="col" >
          {% bootstrap_field client_profile_form.date_of_first_visit %}
          </div>
          <div class="col" >
          {% bootstrap_field client_profile_form.date_of_last_visit %}
          </div>
        </div>
        <div class="row">
          <div class="col" >
          {% bootstrap_field client_profile_form.resident_status %}
          </div>
        </div>
        </div>
        </fieldset>

      <div id="messages">
        <div id="field_errors" class="alert alert-warning{% if not error_message %} d-none{% endif %}" role="alert">
          {{ error_message }}
        </div>
      </div>
      <div id="client_buttons" data-controller="new_client"
           data-reflex-root="#view_mode, #form_container" data-reflex-serialize-form="true">
     {% buttons %}
     {% if mode == "search" %}
     <button type="reset" class="btn btn-secondary" data-action="click->new_client#search" onClick="this.form.reset()">Reset</button>
      {% endif %}
      {% if page_obj.object_list.count == 0 %}
      <button class="btn btn-primary" data-action="click->new_client#new_client">Create New Client</button>
      {% endif %}
     {% endbuttons %}
      </div>
</form>
</div>
<!-- Cient Form End -->


<!-- Client Table Start -->
<div id="client_table" data-action="table:toggle@document->">
<table class="table table-hover" data-controller="new_client">
    <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Nick Names</th>
        </tr>
    </thead>
    <tbody>
        {% for client in page_obj %}
        <tr class="view overlay" data-action="click->new_client#select" data-id="{{ client.pk }}">
            <td>{{client.first_name}}</td>
            <td>{{client.last_name}}</td>
            <td>{{client.dob}}</td>
            <td>{{client.nicknames}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
<nav id="pagination" aria-label="Page navigation" data-controller="new_client" data-action="click->new_client#paginate">
    <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item"><a class="page-link" data-page="{{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
      {% endif %}
      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
      {% else %}
      <li class="page-item"><a class="page-link" data-page="{{ i }}">{{ i }}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" data-page="{{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
      {% endif %}
    </ul>
    </nav>
<!-- Client Table Stop -->

</div>
 </div>
<div id="view_mode">
  <input type="hidden" id="mode_val" value="{{ mode }}" />
</div>
<script>
  function toggle_mode(mode) {
      console.log("mutate")
      let profile_cl = document.getElementById('profile').classList
      let client_table_cl = document.getElementById('client_table').classList
      let pagination_cl = document.getElementById('pagination').classList

      if (mode == 'edit') {
        console.log('in edit loop')

        client_table_cl.add('invisible')
        client_table_cl.remove('visible')

        pagination_cl.add('invisible')
        pagination_cl.remove('visible')

        document.getElementById('client_form_fieldset')
          .disabled = false

        document.getElementById('pencil')
          .classList.add('d-none')

        document.getElementById('search')
          .classList.remove('d-none')

        profile_cl.remove('d-none')

      } else if (mode == 'view') {
        console.log('in view loop')

        client_table_cl.add('invisible')
        client_table_cl.remove('visible')

        pagination_cl.add('invisible')
        pagination_cl.remove('visible')

        document.getElementById('client_form_fieldset')
          .disabled = true

        document.getElementById('pencil')
          .classList.remove('d-none')

        document.getElementById('search')
          .classList.remove('d-none')

        profile_cl.remove('d-none')
      } else if (mode == 'search') {
        console.log('in search loop')

        client_table_cl.remove('invisible')
        client_table_cl.add('visible')

        pagination_cl.add('visible')
        pagination_cl.remove('invisible')

        document.getElementById('client_form_fieldset')
          .disabled = false

        document.getElementById('pencil')
          .classList.add('d-none')

        document.getElementById('search')
          .classList.add('d-none')

        profile_cl.add('d-none')
      }
  }
  function mutation_callback(mutationList, observer) {
      for (const mutation of mutationList) {
          console.log("gotcha")
          if (mutation.type == "attributes") {
              if (mutation.attributeName == "value") {
                  toggle_mode(mutation.target.value)
              }
          }
      }
  }

  const targetNode = document.getElementById('mode_val');
  const config = { attributes: true };
  const observer = new MutationObserver(mutation_callback);
  observer.observe(targetNode, config);

</script>
{% endblock %}
